body {
  height: 100%;
  margin: 0;
  background: white;
}
.container, #gm-container {
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 60px;
  font-family: "Share Tech Mono", monospace;
  background: white;
}
.title, #gm-title {
  font-size: 40px;
  color: black;
}
.subtitle {
  font-size: 20px;
  color: black;
}
@font-face {
  font-family: "Share Tech Mono";
  src: url("ShareTechMono-Regular.ttf");
}
