# On every push this script is executed
on: push
name: Build GH Pages for deployment
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install deps once at root (workspaces)
        run: npm ci
      - name: Build TS for wma1 with esbuild
        run: npm run build --workspace=content/wma1
      - name: Build TS for color-sort with esbuild
        run: npm run build --workspace=content/color-sort
      - name: Build TS for Teraformr
        run: esbuild content/teraformr/src/* --outdir=content/teraformr/build


      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.20.0
        env:
          # Target branch
          PAGES_BRANCH: gh-pages
          # Or if publishing to the same repo, use the automatic token
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
